/*=============================================================================
    ENTRANCE
=============================================================================*/

#entrance {
  padding: 5%;
}

#entrance + #guts-footer {
  display: none;
}

.entrance-body-container {
  text-align: center;
  margin: 0 auto;
  width: 14.5rem;
  @media only screen and (min-width: 25rem) {
    width: 20rem;
  }
}

.entrance-body {
  color: #CCC;
  font-size: 1.4rem;
  letter-spacing: -2px;
  @media only screen and (min-width:25rem) {
    font-size: 1.825rem;
  }
  > i {
    color: $Color-Dark-Grey;
    font-style: normal;
  }
}
