/*=============================================================================
    ENTRANCE - ENHANCED
=============================================================================*/

#entrance {
  padding: 2rem 0;
}

.entrance-body-container {
  width: 28rem;
}

.entrance-body {
  font-size: 2.5rem;
}