h1,
h2,
h3,
p {
  text-rendering: optimizeLegibility;
}

h3 {
  display: block;
  font: 1.25rem/1 $Font-Source-Sans-Pro;
  text-transform: uppercase;
}

em {
  color: $Color-Light-Grey;
  font: 0.875rem $Font-Georgia;
}