/*=============================================================================
    GALLERY-ENHANCED
=============================================================================*/

.gallery-panel {
  &.top-image .gallery-image {
    margin-bottom: 1rem;
    width: 100%;
  }
  &.top-image .gallery-text {
    margin: 0 auto;
    width: 80%;
  }
  &.left-image .gallery-image,
  &.left-image .gallery-text,
  &.right-image .gallery-text {
    float: left;
  }
  &.right-image .gallery-image {
    float: right;
  }
  &.left-image .gallery-image,
  &.right-image .gallery-text {
    margin-right: 2.5%;
    margin-left: 7.5%;
    text-align: justify;
    width: 40%;
  }
  &.left-image .gallery-text,
  &.right-image .gallery-image {
    margin-right: 7.5%;
    margin-left: 2.5%;
    text-align: justify;
    width: 40%;
  }
  p {
    font-size: 1.15rem;
  }
  img[lightbox="true"] {
    cursor: pointer;
  }
}

.gallery-url > a {
  font-size: 1.5rem;
}

.gallery-description {
  margin-left: 5%;
  margin-right: 5%;
  > p {
    font-size: 1.4rem;
  }
}