.gallery .resume img {
  cursor: pointer;
}

.gallery-panel.resume img {
  max-height: 30rem;
}

.gallery .massive-url {
  font-size: inherit;
}

.gallery p {
  font-size: 1.25rem;
}

.gallery .gallery-url a {
  font-size: 1.5rem;
}


.gallery-panel.left-image .gallery-image,
.gallery-panel.right-image .gallery-image {

}

.gallery-description {
  margin-left: 5%;
  margin-right: 5%;
}

.gallery-description p {
  font-size: 1.3rem;
}

.gallery .gallery-image img[lightbox="true"] {
  cursor: pointer;
}

.gallery-panel.top-image .gallery-image {
  margin-bottom: 2rem;
  width: 100%;
}

.gallery-panel.top-image .gallery-text {
  margin: 0 auto;
  width: 80%;
}

.gallery-panel.right-image .gallery-text,
.gallery-panel.left-image .gallery-image {
  margin-right: 2.5%;
  margin-left: 7.5%;
  text-align: left;
}

.gallery-panel.left-image .gallery-text,
.gallery-panel.right-image .gallery-image {
  margin-right: 7.5%;
  margin-left: 2.5%;
  text-align: right;
}

.gallery-panel.left-image .gallery-image,
.gallery-panel.left-image .gallery-text,
.gallery-panel.right-image .gallery-image,
.gallery-panel.right-image .gallery-text {
  width: 40%;
}

.gallery-panel.left-image .gallery-image,
.gallery-panel.left-image .gallery-text,
.gallery-panel.right-image .gallery-text {
  float: left;
}

.gallery-panel.right-image .gallery-image {
  float: right;
}

@media only screen and (max-width: 62.5rem) {
  .gallery .push-image-down .gallery-image {
    margin-top: 1rem;
  }

  .gallery .push-text-down .gallery-text {
    margin-top: 1rem;
  }
}