/*=============================================================================
    GUTS
=============================================================================*/

#guts {
  background-color: #FFF;
  border-bottom: 2px solid $Color-Light-Grey;
  padding: 3.35rem 10% 0;  /* 3.35rem needed to push #guts below the nav */
  overflow: hidden;
  @include transition(transform $CSS-slideUpDown cubic-bezier(1, 0, 0, 1));
  &.slideDown {
    @include transform(translateY(0));
  }
  &.slideUp {
    @include transform(translateY(-100%));
  }
}

.content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-transform: translate3d(0, 0, 0);
  &.fadeIn {
    opacity: 1;
    visibility: visible;
    @include transition(opacity $CSS-fadeInOut linear);
  }
  &.fadeOut {
    opacity: 0;
    visibility: hidden;
    @include transition(visibility 0ms linear $CSS-fadeInOut, opacity $CSS-fadeInOut linear);
  }
}