/*=============================================================================
    GUTS - ENHANCED
=============================================================================*/

#guts {
  padding: 0 5%;  /* Needed to remove the css used to push #guts below the fixed header */
  text-align: center;
}

.gallery {
  position: relative;
  max-width: 75rem;
  overflow: hidden;
}

.non-gallery {
  max-width: 47.5rem;
  margin-left: auto;
  margin-right: auto;
  + #guts-footer {
    max-width: 47.5rem;
  }
}