#lightbox {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  text-align: center;
  .lightbox-image-container {
    position: relative;
    margin: 2rem 2.5rem 0;
  }
  .lightbox-image-inner-container {
    max-width: 75rem;
    margin: 0 auto;
    position: relative;
  }
  .lightbox-close {
    font-weight: 800;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    margin: 0.75rem 0.75rem 0 0;
    top: 0;
    right: 0;
  }
  #lightbox-image {
    border: 5px solid #aaa;
    background-color: #fff;
    padding: 2rem;
  }
}