#portfolio .portfolio-item img {
  padding: 0;
}

#portfolio .portfolio-item h3 {
  display: block;
  font: 1.25rem/1.5 $Font-Source-Sans-Pro;
  text-transform: uppercase;
}

#portfolio .portfolio-item a {
  padding: 10% 5% 15%;
}