#portfolio {
  .portfolio-items {
    padding: 1rem 0;
  }
  .portfolio-item {
    img {
      padding: 0;
    }
    a {
      padding: 7.5%;
    }
    h3 {
      margin-bottom: 0.75rem;
    }
    h3,
    em {
      @include transition(color 250ms ease-in-out);
    }
    &:hover h3,
    &:hover em {
      color: #fff;
    }
  }
}

@media only screen and (min-width: 60rem) {
  #portfolio .portfolio-item {
    h3 {
      font: 200 1.35rem/1 $Font-Source-Sans-Pro;
    }
    em {
      display: block;
      padding-bottom: 0.5rem;
    }
  }
}