.portfolio-items {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

#portfolio .portfolio-item img {
  padding: 0;
}

#portfolio .portfolio-item a {
  padding: 10% 5% 15%;
}

@media only screen and (min-width: 60rem) {
  /*
  1. Increases size of #main-header #primary-nav
  2. Shows .portfolio-item sub-titles & increases site of .portfolio titles
  */
  #portfolio .portfolio-item h3 {
    font: 200 1.5rem/1 $Font-Source-Sans-Pro;
  }
  #portfolio .portfolio-item em {
    display: block;
    padding-bottom: 10%;
  }
}