$Font-Akzidenz-Grotesk: 'Akzidenz-Grotesk-BQ', sans-serif;
$Font-DIN-Heavy: 'DIN Next W01 Heavy', sans-serif;
$Font-DIN-Bold: 'DIN Next W01 Bold', sans-serif;
$Font-DIN-Medium: 'DIN Next W01 Medium', sans-serif;
$Font-DIN-Regular: 'DIN Next W01 Regular', sans-serif;
$Font-DIN-Light: 'DIN Next W01 light', sans-serif;
$Font-Georgia: georgia, serif;
$Font-Lucida-Grande: 'Lucida Grande', sans-serif;
$Font-Source-Sans-Pro: 'source sans pro', sans-serif;

$Color-Dark-Grey: #353D48;
$Color-Grey: #6D7E94;
$Color-Light-Grey: #AAA;
$Color-Lighter-Grey: #CCC;
$Color-Light-Blue: #9FBCDF;

$Color-White: #FFF;
$Color-Black: #000;
$Color-Red: #F88181;
$Color-Green: #BDF9F3;

$Color-Rainbow-Transparent: Transparent;
$Color-Rainbow-Red: #FF0000;
$Color-Rainbow-Orange: #FFA500;
$Color-Rainbow-Yellow: #FFFF00;
$Color-Rainbow-Green: #008000;
$Color-Rainbow-Blue: #0000FF;

$CSS-fadeInOut: 250ms;
$CSS-slideUpDown: 750ms;