#wtf-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
}

#wtf-warning {
  text-align: center;
  background-color: #ccc;
  position: fixed;
  margin: 1.5rem auto 0;
  left: 1rem;
  right: 1rem;
  max-width: 50rem;
  padding: 1.5rem;
  p {
    margin-bottom: 1rem;
  }
  button {
    margin: 0 0.5rem 0.5rem;
    padding: 0.5rem 1rem;
  }
}