/*=============================================================================
    PORTFOLIO-ENHANCED
=============================================================================*/

.portfolio-items {
  padding: 1rem 0;
}

.portfolio-item {
  > a {
    padding: 7.5%;
  }
  img {
    padding: 0;
  }
  h3,
  em {
    @include transition(color 250ms ease-in-out);
  }
  h3 {
    display: block;
    margin-bottom: 0.75rem;
    @media only screen and (min-width: 60rem) {
      font: 200 1.35rem/1 $Font-Source-Sans-Pro;
    }
  }
  em {
    @media only screen and (min-width: 60rem) {
      display: block;
      padding-bottom: 0.5rem;
    }
  }
  &:hover h3,
  &:hover em {
    color: #FFF;
  }
}