/*

===================================================================================================
    NOTES
===================================================================================================

1.  IDs should only used on the outermost elements (one level below body, e.g. that contain
    significant portions of content (the mini-pages injected into the <main id="guts"> container),
    or elements that are used often as hooks in regards to scripting (again, the <main id="guts">
    container). The reason for this is: a) Because I feel that IDs are good at indicating what is
    and isn't a large, macro level container of content, and b) to easily target a specific
    instance of reused content (for example, instead of creating a ".no-border" class with
    "border: none;", only using it in one instance, and introducing presentation into the
    structure, the same, single-serving style may be applied with, #resume .marquee-image, put in
    a "_resume.scss" partial, and eventually imported into a styles.scss file, which is then
    later minified).

2.  Most/All (depending when you read this) of the css selectors begin with either an ID or a
    class name describing the subpage or module that they are a part of. IMO, when reading the
    compressed css, this makes finding what you're looking for, or making sense of what you're
    reading much easier. At the moment, Generic css rules are not proceeded with anything.

    (TODO: However, I'm curious about the performance hit of extra IDs and classes, so, test this)

    (TODO: *Consider* prefixing site wide css rules with ID/Class)

3.  Use of !important is frowned upon, but at times necessary

4.  All measurements are in REM or %

5.  An exception to the that last rule is in measurements of very small size, e.g. border, border-
    radius, line-spacing,

6.  Use data:uris instead of images whenever possible


n.  This is a living document


*/
@-webkit-keyframes super-rainbow {
  0% {
    background-color: transparent;
  }

  16.66% {
    background-color: blue;
  }

  33.33% {
    background-color: green;
  }

  50% {
    background-color: yellow;
  }

  66.66% {
    background-color: orange;
  }

  83.33% {
    background-color: red;
  }

  100% {
    background-color: transparent;
  }
}
@-moz-keyframes super-rainbow {
  0% {
    background-color: transparent;
  }

  16.66% {
    background-color: blue;
  }

  33.33% {
    background-color: green;
  }

  50% {
    background-color: yellow;
  }

  66.66% {
    background-color: orange;
  }

  83.33% {
    background-color: red;
  }

  100% {
    background-color: transparent;
  }
}
@-o-keyframes super-rainbow {
  0% {
    background-color: transparent;
  }

  16.66% {
    background-color: blue;
  }

  33.33% {
    background-color: green;
  }

  50% {
    background-color: yellow;
  }

  66.66% {
    background-color: orange;
  }

  83.33% {
    background-color: red;
  }

  100% {
    background-color: transparent;
  }
}
@keyframes super-rainbow {
  0% {
    background-color: transparent;
  }

  16.66% {
    background-color: blue;
  }

  33.33% {
    background-color: green;
  }

  50% {
    background-color: yellow;
  }

  66.66% {
    background-color: orange;
  }

  83.33% {
    background-color: red;
  }

  100% {
    background-color: transparent;
  }
}
h1,
h2,
h3,
p {
  text-rendering: optimizeLegibility;
}

h2 {
  font: 3.75rem/1 "DIN Next W01 Heavy", sans-serif;
  text-transform: uppercase;
}

h3 {
  display: block;
  font: 1.25rem/1 "source sans pro", sans-serif;
  text-transform: uppercase;
}

em {
  color: #aaaaaa;
  font: 0.75rem georgia, serif;
}

#wtf-warning {
  left: 20%;
  right: 20%;
}

#wtf-warning button {
  margin: 0 1rem;
  padding: 0.5rem 1rem;
}

#entrance {
  margin: 4rem auto;
  padding: 0;
}
#entrance .what-i-am {
  width: 28rem;
  margin: 0 auto;
}
#entrance .what-i-am h2 {
  font-size: 2.5rem;
}

#main-header {
  height: 7.5rem;
  position: relative;
}
#main-header > nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
#main-header .nav-item {
  border-top: none;
  border-bottom: 5px solid #FFF;
  font-family: "DIN Next W01 light", sans-serif;
  font-size: 1.15rem;
  line-height: 2.45;
  text-transform: uppercase;
  margin-top: 1.5rem;
  padding: 0.625rem 0 1.375rem;
  -webkit-transition: border-bottom 200ms ease-in-out;
  -moz-transition: border-bottom 200ms ease-in-out;
  -ms-transition: border-bottom 200ms ease-in-out;
  -o-transition: border-bottom 200ms ease-in-out;
  transition: border-bottom 200ms ease-in-out;
}
@media only screen and (min-width: 70rem) {
  #main-header .nav-item {
    font-size: 1.35rem;
  }
}
#main-header .nav-item a {
  color: inherit;
}
#main-header .nav-item:not(.logo) {
  display: block !important;
  /* Have to use !important because jQuery inline styles */
}
#main-header .nav-item:not(.logo).is-active {
  background-color: transparent;
  border-bottom: 5px solid #9fbcdf;
  color: #aaaaaa;
}
#main-header .nav-item:not(.logo) a {
  padding-left: 0;
}
#main-header .nav-item:not(.logo):hover {
  background-color: transparent;
  border-bottom: 5px solid #9fbcdf;
  color: #aaaaaa;
}
#main-header .logo {
  border-bottom: none;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}
#main-header .logo:hover .color-fader {
  -webkit-animation: super-rainbow 10s infinite linear;
  -moz-animation: super-rainbow 10s infinite linear;
  -o-animation: super-rainbow 10s infinite linear;
  animation: super-rainbow 10s infinite linear;
}
#main-header .logo-image {
  border-radius: 51%;
  height: 52px;
  width: 52px;
}
@media only screen and (min-width: 70rem) {
  #main-header .logo-image {
    height: 71px;
    width: 71px;
  }
}
#main-header .logo-image img {
  /* Image must be at least +1px than container so background colors don't bleed */
  width: 55px;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
@media only screen and (min-width: 70rem) {
  #main-header .logo-image img {
    width: 74px;
  }
}
#main-header .logo-text {
  margin-top: 0;
}
#main-header .logo-text h1 {
  color: #353d48;
  font-size: 1.5rem;
}
@media only screen and (min-width: 70rem) {
  #main-header .logo-text h1 {
    font-size: 2rem;
  }
}
#main-header .screen.logo {
  display: block;
}
#main-header .handheld.logo {
  display: none;
}

.nav-toggle {
  display: none;
}

#guts {
  background-color: #fff;
  padding: 0 5%;
  /* Needed to remove the css used to push #guts below the fixed header */
}

.gallery {
  position: relative;
  max-width: 75rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.non-gallery {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}

#about {
  display: inline-block;
}

.about-image {
  float: left;
  width: 42%;
  margin-top: 2rem;
}
@media only screen and (min-width: 56.5rem) {
  .about-image {
    margin-top: 1.25rem;
  }
}
@media only screen and (min-width: 65rem) {
  .about-image {
    margin-top: 0.5rem;
  }
}
.about-image img {
  max-height: 380px;
}

.about-words {
  float: right;
  width: 55%;
  margin-left: 2.5%%;
}
.about-words header {
  margin-top: 0;
}
.about-words p {
  text-align: justify;
}
.about-words .about-body {
  word-spacing: -2px;
}
.about-words .about-specialties {
  margin-top: 0.75rem;
}
.about-words ul {
  list-style: disc;
  padding-left: 2.5rem;
}

.portfolio-items {
  padding: 1rem 0;
}

#portfolio .portfolio-item img {
  padding: 0;
}

#portfolio .portfolio-item a {
  padding: 7.5%;
}

#portfolio .portfolio-item h3,
#portfolio .portfolio-item em {
  -webkit-transition: color 250ms ease-in-out;
  -moz-transition: color 250ms ease-in-out;
  -ms-transition: color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

#portfolio .portfolio-item:hover h3,
#portfolio .portfolio-item:hover em {
  color: #FFF;
}

#portfolio .portfolio-item h3 {
  margin-bottom: 0.75rem;
}

@media only screen and (min-width: 60rem) {
  /*
  1. Increases size of #main-header #primary-nav
  2. Shows .portfolio-item sub-titles & increases site of .portfolio titles
  */
  #portfolio .portfolio-item h3 {
    font: 200 1.35rem/1 "source sans pro", sans-serif;
  }

  #portfolio .portfolio-item em {
    display: block;
    padding-bottom: 0.5rem;
  }
}
#contact {
  text-align: left;
}

#contact .form-inputs {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

#contact p {
  font: 1.15rem/1.4 "DIN Next W01 Regular", sans-serif;
  margin-bottom: 0;
}

#contact .name-entry,
#contact .email-entry {
  -webkit-flex-basis: 47%;
  -moz-flex-basis: 47%;
  -ms-flex-basis: 47%;
  flex-basis: 47%;
}

#contact #contact-form {
  margin: 0 auto;
}

#contact .status-message {
  top: 18.125rem;
  width: 22.5rem;
}

.gallery .massive-url {
  font-size: inherit;
}

.gallery p {
  font-size: 1.25rem;
}

.gallery .gallery-url a {
  font-size: 1.5rem;
}

.gallery-description {
  margin-left: 5%;
  margin-right: 5%;
}

.gallery-description p {
  font-size: 1.3rem;
}

@media only screen and (min-width: 75rem) {
  .gallery-description p,
  .gallery p {
    font-size: 1.1rem;
    line-height: 1.35;
  }
}
.gallery .gallery-image img[lightbox="true"] {
  cursor: pointer;
}

.gallery-panel.top-image .gallery-image {
  margin-bottom: 2rem;
  width: 100%;
}

.gallery-panel.top-image .gallery-text {
  margin: 0 auto;
  width: 80%;
}

.gallery-panel.right-image .gallery-text,
.gallery-panel.left-image .gallery-image {
  margin-right: 2.5%;
  margin-left: 7.5%;
  text-align: left;
}

.gallery-panel.left-image .gallery-text,
.gallery-panel.right-image .gallery-image {
  margin-right: 7.5%;
  margin-left: 2.5%;
  text-align: right;
}

.gallery-panel.left-image .gallery-image,
.gallery-panel.left-image .gallery-text,
.gallery-panel.right-image .gallery-image,
.gallery-panel.right-image .gallery-text {
  width: 40%;
}

.gallery-panel.left-image .gallery-image,
.gallery-panel.left-image .gallery-text,
.gallery-panel.right-image .gallery-text {
  float: left;
}

.gallery-panel.right-image .gallery-image {
  float: right;
}

.gallery-panel.laura-logo img {
  max-width: 20rem;
  display: block;
  text-align: left;
}

.gallery-panel.resizely-bottom-image img {
  max-width: 35rem;
}

@media only screen and (min-width: 62.5rem) {
  .gallery .push-down-text .gallery-text {
    margin-top: 1.5rem;
  }

  .gallery .double-push-down-text .gallery-text {
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 75rem) {
  /*
  1. Switches single page .content.gallery to the .content.gallery slider
  2. Sets width of resume .artifact-image
  */
  .gallery {
    height: 26.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery.content {
    margin-top: 2.5rem;
    margin-bottom: 0;
  }

  .slide {
    margin-top: 1rem;
    position: absolute;
    padding: 0 5rem;
    width: 100%;
  }

  .slide.first {
    margin-top: 0;
  }

  .gallery-control {
    background-image: url(../img/gallery-control.png);
    cursor: pointer;
    height: 41px;
    opacity: 1.0;
    position: absolute;
    top: 3.5rem;
    width: 41px;
    z-index: 99;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -ms-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
  }

  .next {
    right: 0;
  }

  .previous {
    left: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .is-disabled {
    opacity: 0.3;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -ms-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
    transition: opacity 400ms ease-in-out;
  }

  .gallery .marquee-image,
  .gallery .gallery-title,
  .gallery .gallery-url,
  .gallery .gallery-status,
  .gallery .gallery-description {
    width: 47.5%;
  }

  .gallery .marquee-image {
    float: right;
    margin-top: 2rem;
  }

  .gallery .gallery-title {
    margin-top: 1rem;
  }

  .gallery .gallery-title,
  .gallery .gallery-url,
  .gallery .gallery-description {
    float: left;
  }

  .gallery .gallery-description {
    margin: 0;
  }

  .gallery .gallery-description p {
    text-align: justify;
  }

  .gallery-panel {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .content-presenter li {
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .content-presenter .content-block {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .content-presenter .content-block-inner {
    margin: 1.5rem auto 0;
    max-width: 80rem;
    padding: 0 6rem;
    width: 100%;
  }

  .content-presenter .marquee-image {
    margin: 0;
  }

  .content-presenter .marquee-description {
    display: inline-block;
    float: left;
    margin-right: 4%;
    width: 34%;
  }

  .content-presenter .marquee figure {
    display: inline-block;
    float: right;
    width: 60%;
  }

  .content-presenter .description-body {
    text-align: left;
  }

  .content-presenter .artifact .left {
    margin: 0 0 0 10%;
  }

  .content-presenter .artifact .right {
    margin: 0 10% 0 0;
  }

  #resume .content-presenter .artifact-image.right {
    width: 330px;
  }

  .gallery + #guts-footer {
    display: none;
  }
}
