/*

===============================================================================
    NOTES
===============================================================================

1.  IDs should only be used:
      a. When it follows the spec (e.g. only one instance on page)
      b. To describe unsemantic markup, when appropriate (see above)
      c. On elements that serve as containers for a section (e.g. #no-support)
      d. As hooks for JavaScript (e.g. #unsupported-features)
      e. To target a specific instance of a class (#resume .marquee-image)

2.  I'm not a very good speller

3.  Selectors begin with a descriptive ID or class for easy debugging purposes

4.  Use of !important is frowned upon, but at times necessary

5.  All measurements are in REM or %

6.  An exception to the that last rule is on tiny measurements (e.g. border)

7.  Use data:uris on small, plain images

8.  Readability is favored over performance

9. I try not to target elements using tag selectors as much as possible

10. Exceptions to that last rule will be preceded with an ID or class

11. Exceptions will be tags that are already pretty semantic (e.g. img, h1, p)

12. I try not to add classes just for the sake of styling as much as possible

13. When rules 10 and 12 conflict, I try to choose what's best

14. Occasionally, I like to use joined class selectors (.a.b) for readability

15. Nesting beyond 3 levels is frowned upon, and even beyond 2 is ill advised

16. Decimals are preceded with a 0 (e.g. 0.85 not .85)

17. Hex codes are in all uppercase (e.g. #1A2B3C not #1a2b3C)

n.  This is a living document

--- SCSS & CSS STYLING/FORMATTING ---

CSS
---------
h2,
.class-name,
#id-name {
  property: attribute;  /comment/
}

SCSS
----------
#.selector/.selector {
  @extends
  property: attribute;
  @includes
  @media
  &.adjoined-selector/:pseudo-selector
  >.child-selector
  .nested-selector
}

*/
/*=============================================================================
    BASE STYLES - ENHANCED
=============================================================================*/
@-webkit-keyframes super-rainbow {
  0% {
    background-color: transparent;
  }

  16.66% {
    background-color: blue;
  }

  33.33% {
    background-color: green;
  }

  50% {
    background-color: yellow;
  }

  66.66% {
    background-color: orange;
  }

  83.33% {
    background-color: red;
  }

  100% {
    background-color: transparent;
  }
}
@-moz-keyframes super-rainbow {
  0% {
    background-color: transparent;
  }

  16.66% {
    background-color: blue;
  }

  33.33% {
    background-color: green;
  }

  50% {
    background-color: yellow;
  }

  66.66% {
    background-color: orange;
  }

  83.33% {
    background-color: red;
  }

  100% {
    background-color: transparent;
  }
}
@-o-keyframes super-rainbow {
  0% {
    background-color: transparent;
  }

  16.66% {
    background-color: blue;
  }

  33.33% {
    background-color: green;
  }

  50% {
    background-color: yellow;
  }

  66.66% {
    background-color: orange;
  }

  83.33% {
    background-color: red;
  }

  100% {
    background-color: transparent;
  }
}
@keyframes super-rainbow {
  0% {
    background-color: transparent;
  }

  16.66% {
    background-color: blue;
  }

  33.33% {
    background-color: green;
  }

  50% {
    background-color: yellow;
  }

  66.66% {
    background-color: orange;
  }

  83.33% {
    background-color: red;
  }

  100% {
    background-color: transparent;
  }
}
/*=============================================================================
    FONTS-ENHANCED
=============================================================================*/
h1,
h2,
h3,
p {
  text-rendering: optimizeLegibility;
}

h2 {
  font: 3.75rem/1 "DIN Next W01 Heavy", sans-serif;
  text-transform: uppercase;
}

h3 {
  font: 1.25rem/1 "source sans pro", sans-serif;
  text-transform: uppercase;
}

em {
  color: #aaaaaa;
  font: 0.8rem georgia, serif;
}

/*=============================================================================
    ENTRANCE - ENHANCED
=============================================================================*/
#entrance {
  padding: 2rem 0;
}

.entrance-body-container {
  width: 28rem;
}

.entrance-body {
  font-size: 2.5rem;
}

/*=============================================================================
    NAVIGATION - ENHANCED
=============================================================================*/
#main-header {
  height: 7.5rem;
  position: relative;
}
#main-header > nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.nav-item {
  border-top: none;
  border-bottom: 5px solid #FFF;
  font-family: "DIN Next W01 light", sans-serif;
  font-size: 1.15rem;
  line-height: 4.5;
  text-transform: uppercase;
  -webkit-transition: border-bottom 200ms ease-in-out;
  -moz-transition: border-bottom 200ms ease-in-out;
  -ms-transition: border-bottom 200ms ease-in-out;
  -o-transition: border-bottom 200ms ease-in-out;
  transition: border-bottom 200ms ease-in-out;
}
@media only screen and (min-width: 70rem) {
  .nav-item {
    font-size: 1.35rem;
  }
}
.nav-item:not(.nav-logo) {
  display: block !important;
  /* Have to use !important because jQuery inline styles */
}
.nav-item:not(.nav-logo).is-active {
  background-color: transparent;
  border-bottom: 5px solid #9fbcdf;
  color: #aaaaaa;
}
.nav-item:not(.nav-logo) a {
  padding-left: 0;
}
.nav-item:not(.nav-logo):hover {
  background-color: transparent;
  border-bottom: 5px solid #9fbcdf;
  color: #aaaaaa;
}
.nav-item > a {
  color: inherit;
}

.nav-logo {
  border-bottom: none;
}
.nav-logo:hover .color-fader {
  -webkit-animation: super-rainbow 10s infinite linear;
  -moz-animation: super-rainbow 10s infinite linear;
  -o-animation: super-rainbow 10s infinite linear;
  animation: super-rainbow 10s infinite linear;
}

.logo-image {
  border-radius: 51%;
  height: 62px;
  width: 62px;
}
@media only screen and (min-width: 70rem) {
  .logo-image {
    height: 71px;
    width: 71px;
  }
}
.logo-image > img {
  /* Image must be +1px larger than container so background colors don't bleed */
  width: 65px;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
@media only screen and (min-width: 70rem) {
  .logo-image > img {
    width: 74px;
  }
}

.logo-text {
  display: none;
  /* Experimenting with no text for a while */
  margin-top: 0;
}
.logo-text > h1 {
  color: #353d48;
  font-size: 1.5rem;
}
@media only screen and (min-width: 70rem) {
  .logo-text > h1 {
    font-size: 2rem;
  }
}

.screen.nav-logo {
  display: block;
  line-height: 0;
  padding: 0 0 1rem;
}

.handheld.nav-logo {
  display: none;
}

.nav-toggle {
  display: none;
}

/*=============================================================================
    GUTS - ENHANCED
=============================================================================*/
#guts {
  padding: 0 5%;
  /* Needed to remove the css used to push #guts below the fixed header */
  text-align: center;
}

.gallery {
  position: relative;
  max-width: 75rem;
  overflow: hidden;
}

.non-gallery {
  max-width: 47.5rem;
  margin-left: auto;
  margin-right: auto;
}
.non-gallery + #guts-footer {
  max-width: 47.5rem;
}

/*=============================================================================
    ABOUT - ENHANCED
=============================================================================*/
#about {
  display: inline-block;
}

.about-image-container {
  float: left;
  width: 42%;
  margin-top: 2rem;
}
@media only screen and (min-width: 56.5rem) {
  .about-image-container {
    margin-top: 1.25rem;
  }
}
@media only screen and (min-width: 65rem) {
  .about-image-container {
    margin-top: 0.5rem;
  }
}

.about-image {
  max-height: 380px;
}

.about-body-container {
  float: right;
  width: 55%;
  margin-left: 2.5%%;
}

.about-header {
  margin-top: 0;
}

.about-body {
  word-spacing: -2px;
}

.about-specialties-header {
  margin-top: 0.75rem;
}

.about-specialties {
  list-style: disc;
  padding-left: 2.5rem;
}

/*=============================================================================
    PORTFOLIO-ENHANCED
=============================================================================*/
.portfolio-items {
  padding: 1rem 0;
}

.portfolio-item img {
  padding: 0;
}
.portfolio-item a {
  padding: 7.5%;
}
.portfolio-item h3 {
  display: block;
  margin-bottom: 0.75rem;
}
.portfolio-item h3,
.portfolio-item em {
  -webkit-transition: color 250ms ease-in-out;
  -moz-transition: color 250ms ease-in-out;
  -ms-transition: color 250ms ease-in-out;
  -o-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}
@media only screen and (min-width: 60rem) {
  .portfolio-item h3 {
    font: 200 1.35rem/1 "source sans pro", sans-serif;
  }
  .portfolio-item em {
    display: block;
    padding-bottom: 0.5rem;
  }
}
.portfolio-item:hover h3, .portfolio-item:hover em {
  color: #FFF;
}

/*=============================================================================
    CONTACT FORM - ENHANCED
=============================================================================*/
.contact-form-inputs {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.contact-form-name-entry,
.contact-form-email-entry {
  -webkit-flex-basis: 47%;
  -moz-flex-basis: 47%;
  -ms-flex-basis: 47%;
  flex-basis: 47%;
}

.contact-status-message {
  top: 3rem;
  width: 22.5rem;
}

.contact-body {
  font: 1.15rem/1.4 "DIN Next W01 Regular", sans-serif;
  margin-bottom: 0;
}

/*=============================================================================
    GALLERY-ENHANCED
=============================================================================*/
.gallery-panel.top-image .gallery-image {
  margin-bottom: 1rem;
  width: 100%;
}
.gallery-panel.top-image .gallery-text {
  margin: 0 auto;
  width: 80%;
}
.gallery-panel.left-image .gallery-image, .gallery-panel.left-image .gallery-text, .gallery-panel.right-image .gallery-text {
  float: left;
}
.gallery-panel.right-image .gallery-image {
  float: right;
}
.gallery-panel.left-image .gallery-image, .gallery-panel.right-image .gallery-text {
  margin-right: 2.5%;
  margin-left: 7.5%;
  text-align: justify;
  width: 40%;
}
.gallery-panel.left-image .gallery-text, .gallery-panel.right-image .gallery-image {
  margin-right: 7.5%;
  margin-left: 2.5%;
  text-align: justify;
  width: 40%;
}
.gallery-panel p {
  font-size: 1.15rem;
}
.gallery-panel img[lightbox="true"] {
  cursor: pointer;
}

.gallery-url a {
  font-size: 1.5rem;
}

.gallery-description {
  margin-left: 5%;
  margin-right: 5%;
}
.gallery-description p {
  font-size: 1.4rem;
}

/*=============================================================================
    GALLERY-SUPER-ENHANCED
=============================================================================*/
@media only screen and (min-width: 75rem) {
  .gallery {
    height: 26.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery + #guts-footer {
    display: none;
  }
  .gallery .slide {
    margin-top: 2rem;
    position: absolute;
    padding: 0 5rem;
    width: 100%;
  }
  .gallery .slide.first {
    margin-top: 0;
  }

  .gallery-control {
    display: block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAApCAMAAACfvvDEAAAAh1BMVEUAAACfvOCfvN+fvOCfvN+fvOCfvOCcvN+OntegvN+gvd2eud+fu+Cfvd+fvOCfu9+fvN+fvN+fvN+fveCfvOCfveChudyfvN+YuN2jvuCnxeqkwuapyO3S3u+3y+ary/Da4/HI1+ufvN+StNyvxuTP3O2+0Ojz9vqfvN+fvN+fvN+fvN+fvN8veROXAAAAF3RSTlMAudjgwWYxAwFgEwcsk3lyWv736/yaIOxJEhwAAAGqSURBVDjLjZWBbqMwDIadkACBdkOtJhMnvYDWu3v/N5zbhga6hO0TqGr66U9twMCTpgVoD+YoZHWupDiaw22hgS2PpW4QSMET430gFKa7BzCbwN5ICg4TLpDU/Ussf6kFeXzFk6j51404nALmCDhENYrv6DEP2Xc2kugclnBuUdsWBstiWbUDS/fIGgn3IKzZ4qMRAfcJomevBZNNHDepmj3oZLbsq125XnYApch5sqNNoYZLF4VO/p0wqUE0cMBCh8a16vAApiDaqKaajmnzvdRwBLWY9hs4Xp5leQWSYsDnN3hpvuAY+wTnaF7/ZJmmR6Y7wSlW9O+SY57+X+P+cI6mzYHXacYlU9JS6Q1MB5+fOM1j7JLcq320T5FrL/czibGfhvbFCOnidd+KDuviveSSyATVlO9PFu16c4Cu8vn/iQlfdcBowh1SZAO9+vHZVD00v37eHzPEuN0Z4gxLcS69kSuL9HZ3FtVRaWsXxUU1WJqf5nXU1io3k71KMznNeV2R38x5T5Xuk7h+d2iF5D05dLcPVDrz7mCa21nrDyXRYqU+dN3AOvALyf99MRLlviwAAAAASUVORK5CYII=);
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    height: 41px;
    opacity: 1.0;
    position: absolute;
    top: 3.5rem;
    width: 41px;
    z-index: 99;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
  }
  .gallery-control[disabled] {
    opacity: 0.3;
    -webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
  }
  .gallery-control.next {
    right: 0;
  }
  .gallery-control.previous {
    left: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .gallery-panel {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .gallery-panel.push-down-text .gallery-text {
    margin-top: 1.5rem;
  }
  .gallery-panel.double-push-down-text .gallery-text {
    margin-top: 3rem;
  }
  .gallery-panel.half-push-down-text .gallery-text {
    margin-top: 1rem;
  }
  .gallery-panel.pull-up-text .gallery-text {
    margin-top: 0;
  }

  .gallery-marquee-image,
  .gallery-title,
  .gallery-url,
  .gallery-status,
  .gallery-description {
    width: 47.5%;
  }

  .gallery-title,
  .gallery-url,
  .gallery-description {
    float: left;
  }

  .gallery-marquee-image {
    float: right;
    margin-top: 3rem;
  }

  .gallery-title {
    margin-top: 2rem;
  }

  .gallery-description {
    margin: 0;
    padding: 0 2.5% 0 5%;
  }
  .gallery-description p {
    text-align: justify;
    font-size: 1.15rem;
    line-height: 1.35;
  }

  .gallery-text {
    margin-top: 0.5rem;
  }
  .gallery-text p {
    font-size: 1.15rem;
    line-height: 1.35;
  }
}
/*=============================================================================
    GALLERY EXCEPTIONS - ENHANCED
=============================================================================*/
@media only screen and (min-width: 75rem) {
  #resizely .resizely-bottom-image img {
    max-width: 55rem;
  }
}
