/*** GLOBALS ***/
* {margin:0;padding:0;border:0;}

html {}
body {}
h1 {font-size:72px;}
a {color:#000000;text-decoration:none;}
#container {width:960px;margin:0 auto;}

/*** HEADER ***/
header {height:76px;padding-top:10px;border-bottom:4px double #ccc;}
nav {vertical-align:bottom;}
nav a:hover {color:#3791DB;}
#logoWords {float:left;}
#logoWords h1 {float:left; /*** text-shadow:2px 2px #ccc; ***/}
#logoWords img {float:left;margin-top:17px;margin-right:13px;}
#navList {float:right;margin-top:50px;font-size:13px;}
#navList li {display:inline; margin-left:10px; vertical-align:middle; text-transform:uppercase;
				font-family:'AvenirNextLTW01-BoldSC';}
.spaceOut {margin-right:9px;}
.biguns {font-size:20px;}

/*** CONTENT ***/
#contentHeader {border-bottom:4px double #ccc;}
#contentHeaderNone {display:none;}
#contentHeader h2 {font-size:50px;padding-bottom:10px;}
#contentHeader h3 {font-size:50px;}

/*** SLIDESHOW ***/
#slideshowNew {position:relative;height:275px;}
#slideshowNew div {position:absolute;top:0;left:0;z-index:8;opacity:0.0;}
#slideshowNew div.active {z-index:10;opacity:1.0;}
#slideshowNew div.last-active {z-index:9;}

/*** TWITTER BAR ***/
#recentTweets {display:none;text-align:center;border-top:4px double #ccc;border-bottom:4px double #ccc;}
#recentTweets img {padding:7px;}
#twitterWords {padding-left:7px;vertical-align:75%;}
.timeText {font-size:12px;}

/*** PHRASES BAR ***/
#phrases {color:#000;padding:7px 0px;text-align:center;border-top:4px double #ccc;border-bottom:4px double #ccc;}

/*** FOOTER ***/
footer {height:133px;margin-bottom:30px;}
#footerContents {margin-top:15px;}
#footerContents ul {list-style:none;}
#footerContents li {font-size:14px;margin-bottom:5px;font-family:'Avenir LT W01 55 Roman';}
#footerContents a:hover {color:#3791DB;}
.footerColumn {width:175px;float:left;}
.firstColumn {margin-left:50px;}
.middleColumn {margin-left:53.33px;}
.lastColumn {float:right;margin-right:50px;}
.footerTitle {font-size:20px;margin-bottom:10px;line-height:15px;}
.bigFooterTitle {margin-bottom:10px;}
.addressColumn {width:181px;margin-left:47px;}

	/*** SITE MAP ***/
	#siteMapFooter {line-height:15px;}

	/*** SOCIAL MEDIA ***/
	#socialMediaFooter {line-height:10px;}
	#socialMediaFooter li img {padding-right:10px;height:20px;}
	#socialMediaFooter li a {vertical-align:50%;}
	#socialMediaFooter a:hover {color:#3791DB;}
	
	/*** CONTACT ***/
	#contactFooter {line-height:15px;}
	
	/*** PICTURE HOLDER ***/
	#pictureHolder {width:77px;margin:0 auto;line-height:10px;}
	#pictureHolder img {padding-top:30px;}				

/*** HOME PAGE ***/
#steakNpotatoes.homePage {border-bottom:4px double #ccc;}
#WIP2 {margin:0 auto;padding-bottom:15px;text-align:center;}
#hiTop {}
#hiMiddle {}
#hiBottom {}
#threeColumns {}
.columnHomePage {float:left;width:319px;height:160px;border-right:1px solid #ccc;}
.columnHomePage h5 {color:#666;font-size:12px;font-family:'AvenirNextLTW01-UltraLi';}
.columnHomePage h4 {color:#444;font-size:18px;font-family:'AvenirNextLTW01-BoldSC';}
.columnHomePage p {color:#000;font-size:14px;font-family:'AvenirLTW01-45BookObliq';}
.wordsInside {margin:20px 15px 0px 15px;}
.wordsInside a:hover {color:#3791DB;}
.lastHomeColumn {border-right:none;}
.slideShow li {list-style:none;}
.DARKNESS {width:760px;display:block;margin:0px auto;font-size:85px;text-shadow:1px 2px 0 #f9f9f7, 3px 6px 0 #E7E6E2;}

/*** ARTICLES PAGE ***/
#WIP {width:960px;margin:0 auto;padding:10px 0px 15px;border-bottom:4px double #ccc;}
#theArticles {font-family:'AvenirNextLTW01-UltraLt 721260';}
#selectedArticles {float:left;width:478px;border-right:2px solid #ccc;}
#moreArticles {float:right;width:478px;}
.articlesList {list-style:none;}
.articlesList li {line-height:20px;margin:10px;}
.articlesList li a {color:#3791DB;font-family:'Avenir LT W01 35 Light';}
.articlesList li a:hover {color:orange;}

/*** BIO PAGE ***/
#bioPicture {float:left;width:419px;border-right:2px solid #ccc;}
#bioPicture img {padding:0px 20px 10px 0px;}
#bioWords {float:right;width:539px;}
#bioWords p {padding:18px 0px 0px 20px;font-size:14px;line-height:32px;}

/*** CONTACT PAGE ***/
#contactForm {height:380px;margin:30px auto 20px;font-family:'Avenir LT W01 55 Roman';}
#formLabels {width:700px;margin:0 auto;}
#nameLabel {float:left;width:48%;}
#emailLabel {float:right;width:48%;}
#messageLabel {float:left;}
#buttons {float:right;}

/*** FONTFAC3S N' OTHER GLOBAL CLASSEs (SCHOOL'S IN SESSION, SUCKKA) ***/
.mahogany {font-family:'Mahogany Script W01'}
.avenirUltraLite {font-family:'AvenirNextLTW01-UltraLi';}
.avenirOblique {font-family:'AvenirLTW01-45BookObliq'}
.avenirBold {font-family:'AvenirNextLTW01-BoldSC';}
.avenir95 {font-family:'Avenir LT W01 95 Black';}
.avenir65Oblique {font-family:'AvenirLTW01-65MediumObl';}
.avenir55 {font-family:'Avenir LT W01 55 Roman';}
.avenir35 {font-family:'Avenir LT W01 35 Light';}
.left {text-align:left;}
.center {text-align:center;}
.right {text-align:right;}