@include animation-keyframes(super-rainbow) {
  0% {
    background-color: $Color-Rainbow-Transparent;
  }
  16.66% {
    background-color: $Color-Rainbow-Red;
  }
  33.33% {
    background-color: $Color-Rainbow-Orange;
  }
  50% {
    background-color: $Color-Rainbow-Yellow;
  }
  66.66% {
    background-color: $Color-Rainbow-Green;
  }
  83.33% {
    background-color: $Color-Rainbow-Blue;
  }
  100% {
    background-color: $Color-Rainbow-Transparent;
  }
}