#main-header {
  background-color: $Color-White;
  border-bottom: 2px solid $Color-Light-Grey;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.35rem;
}

#primary-nav .flex-container {
  display: inline-block;
  width: 100%;
}

#primary-nav li {
  background-color: $Color-White;
  border-top: 1px solid $Color-Light-Grey;
  display: none;
  font-size: 1.25rem;
  line-height: 2;
}

#primary-nav li:last-child {
  border-bottom: 2px solid $Color-Light-Grey;
}

#primary-nav .logo {
  border: none;
  display: block;
  line-height: 1;
  margin: 0.5rem 0 0.15rem 0.5rem;
}

#primary-nav .handheld.logo img {
  height: 37px;
}

#primary-nav .screen.logo {
  display: none;
}

#primary-nav .logo-text {
  display: inline-block;
  margin-top: 0.4rem;
  vertical-align: top;
}

#primary-nav li:not(:first-child) a {
  display: block;
  padding-left: 1.875rem;
}

#primary-nav li:not(.logo):hover {
  background-color: $Color-Even-Lighter-Grey;
  cursor: pointer;
}

#primary-nav .nav-toggle {
  margin: 0.15rem;
  padding: 0.25rem 0.5rem 0.5rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

#primary-nav .nav-toggle {
  background-color: $Color-White;
  border: 1px solid $Color-Black;
  border-radius: 5px;
  color: $Color-Black;
  cursor: pointer;
  font: 300 1rem $Font-Source-Sans-Pro;
}

#primary-nav .nav-toggle::after {
  content: "\25BC";
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

#primary-nav li.is-active {
  background-color: $Color-Even-Lighter-Grey;
  cursor: default;
  pointer-events: none;
}

#primary-nav .entrance.is-active {
  background-color: transparent;
  border-bottom: none;
}