#browsehappy {
  display: none;
  background-color: transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAAA1BMVEUAAACnej3aAAAAAXRSTlNANjqZ9gAAAA5JREFUGJVjYBgFgwkAAAGQAAHY85U/AAAAAElFTkSuQmCC);
  background-repeat: repeat;
  background-position: top left;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
}

#browsehappy-inner {
  position: relative;
  max-width: 50rem;
  width: 90%;
  background-color: $Color-White;
  margin: 4rem auto 0;
  padding: 1.5rem 0.75rem;
}

.browsehappy-text {
  display: inline-block;
  margin: 0 2rem;
}

.browsehappy-text p:first-child,
.browsehappy-text p:last-child {
  margin: 1.25rem 0;
}

#unsupported-features {
  list-style-type: disc;
  margin-left: 2rem;
}

#unsupported-features li {
  font-weight: 800;
}

.possible-downloads {
  display: inline-block;
}

.possible-downloads span {
  float: left;
  width: 25%;
  background-color: $Color-White;
  text-align: center;
  padding: 1rem;
  text-align: center;
}