#main-header {
  border-bottom: 1px solid $Color-Lighter-Grey;
  height: 9.6875rem;
  position: relative;
}

#main-header .pull-down {
  bottom: 0;
  padding: 0 6.25rem;
  position: absolute;
  width: 100%;
}

#primary-nav .flex-container {
  @include flex-align-items(center);
  @include flex-flow(row nowrap);
  @include flex-justify-content(space-around);
}

#primary-nav li {
  border-bottom: 5px solid $Color-White;
  border-top: none;
  display: block !important;
  font: 1.15rem/2 $Font-DIN-Light;
  margin-top: 1.5rem;
  padding: 0.625rem 0 1.875rem;
  text-transform: uppercase;
  @include transition(border-bottom 200ms ease-in-out);
}

#primary-nav li:last-child {
  border-bottom: 5px solid $Color-White;
}

#primary-nav li a {
  color: inherit;
}

#primary-nav .logo {
  margin: 0;
  margin-top: 0;
  padding-bottom: 1rem;
  padding-left: 0;
}

#primary-nav .handheld.logo {
  display: none !important;
}

#primary-nav .screen.logo {
  display: block;
}

#primary-nav .screen.logo:hover #multiple-color-icon-fader {
  @include animation(super-rainbow 10s infinite linear);
}

#primary-nav #multiple-color-icon-fader {

  border-radius: 27px;
  height: 54px;
  width: 54px;
  display: inline-block;
}

#primary-nav .logo img {
  height: 55px;
}

#primary-nav .logo-text {
  color: $Color-Grey;
  font-size: 1.5rem;
  margin-top: 0;
}

#primary-nav .logo-fname,
#primary-nav .logo-lname {
  display: block;
}

#primary-nav li:not(:first-child) a {
  padding-left: 0;
}

#primary-nav li:not(.logo):hover {
  background-color: transparent;
  border-bottom: 5px solid $Color-Light-Blue;
  color: $Color-Light-Grey;
}

#primary-nav .nav-toggle {
  display: none;
}

#primary-nav li.is-active {
  background-color: transparent;
  border-bottom: 5px solid $Color-Light-Blue;
  color: $Color-Light-Grey;
}