#about.non-gallery {
  display:  inline-block;
}

#about .about-image-container {
  float: left;
  margin: 0 2.5% 0 0;
  text-align: right;
  width: 30%;
}

#about .about-image-container img {
  max-height: 26.5rem;
}

#about h2 {
  font-size: 3.75rem;
  margin-bottom: 1rem;
  text-align: center;
}

#about p {
  font-size: 1.35rem;
}