#guts {
  padding-top: 0;
  overflow-y: scroll !important;
  position: relative;
}

.gallery {
  margin-top: 2rem;
  padding: 0 4rem;
  position: relative;
}

.non-gallery {
  margin: 3.5rem auto;
  max-width: 78.5rem;
  padding: 0 2.5rem;
}
