#portfolio .portfolio-items {
  margin-bottom: 7.5rem;
}

#portfolio .portfolio-item img {
  padding: 0;
}

#portfolio .portfolio-item a {
  padding: 10% 5% 15%;
}

#portfolio .portfolio-items {
  margin: 0 auto;
  padding: 0 7.5%;
}