
* {
	margin: 0;
	padding: 0;
	outline: 0;
}

	div#header {
	background: url(branch.gif) no-repeat center top;
	width: 1050px;
	height: 230px;
	padding: 165px 0 0 30px;
	margin-left: auto;
	margin-right:auto;
	font-size: 18px;
	font-weight: normal;
	color: #afafaf;
	}

	div#wordslogo {
	margin-left: -20px;
}

	#contactcontainer {
		width:800px;
		margin-left:auto;
		margin-right:auto;
		padding-top:60px;
	}

	#contactcontainer a {
		text-decoration:none;
		color: #afafaf;
	}

	#contactcontainer a:hover {
		text-decoration:underline;
		color: #afafaf;
	}

	h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	color: #7cc6e6;
	}

	h2 {
	font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	color: #7cc6e6;
	font-size:20px;
	display:inline;
	}

	p.contact {
		font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
		display:inline;
		font-size:20px;
	}

	p.slogan {
		padding-left: 11px;
		margin-bottom: 34px;
		font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
	}

	strong {
		color: #2c2c2c;
		font-weight: bold;
	}

	img.choose {
		float:right;
		margin-top: -85px;
		padding-right: 380px;
	}

	img.thumb {
		padding: 10px 10px 10px 10px;
	}

	#navcontainer {
		padding-right: 66px;
		float:right;
		margin-top: -57px;
	}

	#navlist li	{
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	}

	#navlist li a {
		font-size: 14px;
		font-weight: normal;
		color: #afafaf;
		text-shadow: 1px 1px #fff;
		height: 100%;
		font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
		text-decoration: none;
	}

	#navlist li a:hover {
		text-decoration:underline;
	}

	#greybox {
		background-color: #f5f3f0;
		width: 225px;
		float: left;
	}

	#spacer {`
		background-color: #fff;
		float: left;
		width:9px;
	}

	h1.greyboxwords{
		padding-left: 10px;
		font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
		color: #7cc6e6;
		font-size: 14px;
	}

	p.greyboxwords {
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-family: "Century Gothic", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
		color: #afafaf;
		font-size: 12px;
	}

	#contactlink a:hover {background-color:#7cc6e6;
							text-decoration:none;}