body {
	line-height: 25px;
}
tt,
kbd,
pre,
code {
	font-family: Monaco, "Courier New", Courier, monospace;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h2 {
	font-weight: bold;
}
h5 {
	font-style: italic;
}
ul {
	list-style: square outside;
}
ol {
	list-style: lower-roman outside;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #d3d3d3;
}
ins {
	color: #f00;
	text-decoration: none;
	border-bottom: none;
}
dl dt {
	font-weight: bold;
}
dd {
	font-style: italic;
}
mark {
	background-color: #ffc;
}